.modalFilter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.contentModalFilter {
  background: white;
  padding: 20;
  border-radius: 8;
  min-width: 320px;
  position: relative;
}
